/* search-box */
.search-box {
    width: 300px;
}

.search-box .p-inputtext {
    background-color: #000;
    color: #fff;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    /* background-color: transparent; */
}

/* search-result */
.search-result {
    display: flex;
    /* color: var(--blue-500) */
}
.search-result pre.search-result__key {
    margin: 0;
}
