@import "./root.css";
@import "./class.css";
@import "./lib/fontawesome-pro-6.4.0/css/all.min.css";

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: 18px;
    caret-color: transparent;
}

body {
    margin: 0;
    padding: 0;
}

/* color notify */
.color--success {
  color: var(--green-500);
}
.color--error {
  color: var(--red-500);
}
.color--warning {
  color: var(--orange-500);
}
.color--info {
  color: var(--blue-500);
}
.color--placeholder {
  color: var(--color-placeholder);
}

/* cursor */
.cursor--pointer {
    cursor: pointer;
}