@import "./root.css";
@import "./class.css";
@import "./lib/fontawesome-pro-6.4.0/css/all.min.css";

* {
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: 18px;
    caret-color: transparent;
}

body {
    margin: 0;
    padding: 0;
}