.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon.icon.cursor-pointer {
    transition: color 0.2s;
}

.dark .icon {
    color: var(--grey-700);
}
.dark:hover .icon.cursor-pointer {
    color: var(--grey-500);
}

.light .icon {
    color: var(--grey-300);
}
.light:hover .icon.cursor-pointer {
    color: var(--highlight);
}
.light:active .icon.cursor-pointer {
    color: var(--highlight-dark);
}

.success .icon {
    color: var(--green-500);
}
.primary .icon {
    color: var(--color-primary);
}
.error .icon {
    color: var(--red-500);
}
.info .icon {
    color: var(--blue-500);
}
.warn .icon {
    color: var(--orange-400);
}
