/* input */
.v-input-text {
    width: 100%;
}
.input-wrapper {
    width: 100%;
}

.p-inputtext {
    font-family: var(--font-primary) !important;
    font-size: 18px !important;
    /* color: #000; */
    caret-color: auto;
    width: 100%;
    border-color: var(--border-color);
}
.p-inputtext::placeholder {
    color: var(--color-placeholder);
}
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.15rem #c7d2fe;
}
.p-inputtext.transparent {
    background-color: transparent;
    color: #fff;
}
.p-inputtext.transparent .icon {
    color: #fff;
}

/* input icon */
.p-input-icon-left > .input-icon-left {
    position: absolute;
    width: 3rem;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: var(--grey-700);
}

.input-wrapper:focus-within {
    width: 100%;
}

.p-input-icon-right > .input-icon-right {
    position: absolute;
    width: 3rem;
    height: 100%;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--grey-700);
}

.input-icon-right.always-show,
.input-wrapper:focus-within > .input-icon-right,
.input-wrapper:hover > .input-icon-right {
    display: flex;
}
.p-input-icon-left > .p-inputtext {
    padding-left: 3rem;
}
.p-input-icon-right > .p-inputtext {
    padding-right: 3rem;
}
.p-input-icon-right > .p-inputtext {
    padding-right: 0.75rem;
}
.input-wrapper:focus-within > .p-inputtext,
.input-wrapper:hover > .p-inputtext {
    padding-right: 2.5rem;
}

/* invalid */
.p-inputtext.p-invalid.p-component {
    /* border: 2px solid var(--red-500); */
    box-shadow: 0 0 0 0.15rem var(--red-500);
}
.p-inputtext.p-warn.p-component {
    /* border: 2px solid var(--red-500); */
    box-shadow: 0 0 0 0.15rem var(--orange-500);
}
