.p-button.p-button-loading-label-only .p-button-loading-icon {
    margin-right: 0.5rem;
}

.p-button.p-button-loading-label-only .p-button-label {
    margin-left: 0;
}

.p-button.p-button-sm .p-button-icon {
    margin-top: 0.2rem;
}
