.v-dialog.p-dialog {
    width: 400px;
}
.v-dialog.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 28px;
}

.v-dialog__content {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.v-dialog__icon .icon {
    font-size: 32px;
}
.v-dialog .p-button.p-button-sm {
    padding: 0.3rem 0.7rem;
}