
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    width: 100%;
    height: 100vh;
    padding: 40px 120px;
    overflow: hidden;
    background: url(@/assets/img/bg-auth.jpg) no-repeat;
    background-size: 100% 100%;
}

.auth__title {
    font-size: 48px;
    font-weight: bolder;
    font-family: "Consolas";
    color: #fff;
    margin-bottom: 16px;
}

.auth__body {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 324px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    position: relative;
    padding: 2px;
}
.auth__redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    column-gap: 10px;
}
.auth__body .p-button.p-button-link {
    padding: 0;
    color: var(--yellow-400)
}
.auth__forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
}