
.contest-detail-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}
.contest-detail__header {
    height: 56px;    
    background-color: var(--header-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 4;
}

.contest-detail__header--left {
    padding: 0 24px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contest-detail__header--left .p-button {
    padding: 4px;
    height: 30px;
}

.contest-detail__header--center {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.contest-detail__header--right {
    padding: 0 16px;
    width: 300px;
}

.contest-detail__body {
    height: calc(100vh - 56px - 78px);
}
.contest-detail__footer {
    height: 78px;
    padding: 0 24px;
    background-color: var(--footer-color);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.contest-detail__info {
    width: 100%;
    height: 100%;
    padding: 32px;
    padding-bottom: 0;
}
/* container */
.contest-problem-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    height: 100%;
    padding: 32px;
    padding-bottom: 24px;
}
.contest-problem__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    height: 100%;
    overflow: auto;
}