
.reaction-wrapper {
    display: flex;
    align-items: center;
    column-gap: 24px;
    width: fit-content;
    height: 100%;
}
.reaction__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60px;
    height: 100%;
    column-gap: 4px;
    color: var(--color-text);
}